.Comment_list {
    min-height: 80px;
    padding: 15px 0;
    text-align: left;
    display: flex;
}
.Comment_avatar {
    width: 40px
}
.Comment_avatar > div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.Comment_avatar > div > img {
    width: 100%;
}
.Comment_ctx {
    flex: 1;
    padding-left: 20px;
}
.Comment_ctx > .Comment_content > .User_name {
    color: #006ccc;
}
.Comment_ctx > .Comment_time {
    margin-top: 10px;
}
.Comment_ctx > .Comment_time > .Comment_type{
    float: right;
}
.Comment_ctx > .Comment_time > .Comment_type > .hover{
    display: none
}
.Comment_ctx:hover > .Comment_time > .Comment_type > .hover{
    display: inline
}
.Comment_type > span {
    padding: 0 15px;
    color: #555
}
.Comment_type > span:hover {
    text-decoration: underline;
    color: #000;
    cursor: pointer;
}